.cabecalho {
    background-color: deeppink;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 8%;
    border-radius: 22px;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.cabecalho-lista-item a{
    text-decoration: none;
    color: aliceblue;
}

a:hover{
    color: blueviolet;
}

a:active{
    color: darkmagenta;
}

.escola{
    background-image: linear-gradient(hsl(180, 63%, 52%), hsl(167, 80%, 48%)
    color
}