
body{
    font-family: 'poppins',sans-serif;
}
.cabecalho {
    background-color: #ff1493;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 8%;
    border-radius: 22px;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.cabecalho-lista-item a{
    text-decoration: none;
    color: aliceblue;
}

a:hover{
    color: blueviolet;
}

a:active{
    color: darkmagenta;
}

.escola{
   background-image: linear-gradient(#ff1493 ,hwb(328 62% 5% / 0.685));
   color: aliceblue;
   display: flex;
   justify-content: center;
   padding: 24px 0;
}

.escola-div-conteudo{
    width: 45%;
    color: black;
}

.escola-titulo{
    padding: 24px 0;
}

p{
    padding: 0 40px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.escola-imagem{
    width: 30%;
    height: 300px;
    border-radius: 82px;
}


.estudante-imagem{
    width: 120px;
}

.estudante{
    background-color: #ff1493;
    color: black;
}

.escola-titulo {
    padding: 24px 0;
    margin: 0 120px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.estudante-todos {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 0 60px;

}

.estudante-div{
    text-align: center;
    padding: 12px 0;
}

.estudante-imagem{
    width: 120px;
}

.estudante-nome{
    font-size: 14px;
}

.estudante-icone{
    width: 24px;
    padding: 4px 8px;
}


.rodape{
    background-image: linear-gradient(#ff1493, hsla(328, 100%, 54%, 0.39));
}

.copyright{
text-align: center;
height: 100%;
line-height: 100px;
font-size: 12px;
}









